<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DJKhaled.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67F770581C279EC0009AB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F770711C279EC0009AB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F7707C1C279EC0009AB032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
